<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113320588-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113320588-1');
    </script>
    <!-- //Google Analytics -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{relativeRoot}}/assets/prism.css" />
    <link rel="stylesheet" href="{{relativeRoot}}/assets/site.css" />
    <title>{{#if title }}{{title}} - {{/if}}Hypercraft</title>
    <meta name="keywords" content="hyperapp, javascript, js, tutorial, tips, patterns{{#if keywords}}, {{keywords}}{{/if}}">
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  </head>
  <body>
    <header>
      <a class="logo" href="{{relativeRoot}}/index.html">
        <h1>Hypercraft</h1>
        <p>Hyperapp tricks, patterns and pitfalls</p>
      </a>
      <ul class="nav">
        <li><a href="{{relativeRoot}}/index.html">Index</a></li>
        <li><a href="{{relativeRoot}}/about/index.html">About</a></li>
      </ul>
    </header>
    <main>
