<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://zaceno.github.io/hypercraft/assets/prism.css" />
    <link rel="stylesheet" href="https://zaceno.github.io/hypercraft/assets/site.css" />
    <title>{{#if title }}{{title}} - {{/if}}Hypercraft</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  </head>
  <body>
    <header>
      <h1>Hypercraft</h1>
      <p>Hyperapp tricks, patterns and pitfalls</p>
      <ul class="nav">
        <li><a href="https://zaceno.github.io/hypercraft/">Index</a></li>
        <li><a href="https://zaceno.github.io/hypercraft/about">About</a></li>
      </ul>
    </header>
    <main>
